<!DOCTYPE <!DOCTYPE html>
<html>
    <%- include('partials/_head', {
      title: 'Dashboard'
    }) %>
  <body>
    <% include partials/_header %>
    <main>
      <div class="urls-wrapper">
        <h2>
          A list of all your earls.
        </h2>
        <div class="urls-wrapper-message">
          <a href="/urls/new">Create some more.</a>
        </div>
        <% for (const url in urls) { %>
          <div class="urls-wrapper-url">
            <span class="urls-wrapper-short-url">
              <%= urls[url].long_url %> - 
            </span>
            <a href="<%= urls[url].long_url %>" class="urls-wrapper-link">
              /u/<%= urls[url].short_url %>
            </a>
            <a href="/urls/<%= urls[url].short_url %>" class="urls-wrapper-update">
              <button>Change</button>
            </a>
            <span class="urls-wrapper-delete">
              <%- include('partials/_delete', {
                shortUrl: urls[url].short_url,
                className: 'form-delete'
              }) %>
            </span>
          </div>
        <% } %>
      </div>
    </main>
    
  </body>
</html>