<!DOCTYPE <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tiny Times</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <% include partials/_header %>

    <div class="urls-wrapper">
      <% for (const url in urls) { %>
        <div class="urls-wrapper-url">
          <span class="urls-wrapper-short-url">
            <%= urls[url].longUrl %> - 
          </span>
          <a href="<%= urls[url].longUrl %>" class="urls-wrapper-link">
            /u/<%= url %>
          </a>
          <a href="/urls/<%= url %>" class="urls-wrapper-update">
            <button>Update</button>
          </a>
          <span class="urls-wrapper-delete">
            <%- include('partials/_delete', {
              shortUrl: url,
              className: 'form-delete'
            }) %>
          </span>
        </div>
      <% } %>
    </div>
    
  </body>
</html>